@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Roboto', sans-serif;

}
body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #AAAAAA;
    outline: 1px solid #AAAAAA;
}
.bgfooter{
    background:#163556 url("/footerbg.svg") no-repeat center;
}
.bgrob{
    background: url("/robot.svg") no-repeat center;

}
.bgth{
    background: url("/thirdsec.svg") no-repeat top, url("/bgth.png")no-repeat;
    background-color: #F5F7F9;
}
.bgfl{
    background: linear-gradient(180deg,#f5f8fc 72.8%,#fff);
}
.bgfl{
    background: url("/snow.svg") no-repeat center, url("/bgmain.png");
    background-size: cover;
    background-position-y: 0px;


}
.bgf{

    background: url("/snow.svg") no-repeat center;
    background-size: cover;
    background-position-y: 0px;

}